<div class="row">
    <div class="col-md-12 text-center">
        <h1>Orçamento Auto Service</h1>
        <hr>
    </div>
</div>
<div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="col-md-12">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="data">orçamento número:</label><br/>
                <span>12345</span>
            </div>
            <div class="form-group col-md-2">
                <label for="data">data de emissão</label>
                <input type="date" class="form-control" id="data" placeholder="data">
            </div>
        </div>
        <fieldset formGroupName="clientData">
            <legend>dados do Cliente</legend>
            <div class="form-group col-md-6">
                <label for="name">Nome Completo</label>
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nome completo" required>
            </div>
            <div class="form-group col-md-4">
                <label for="email">e-mail</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="contato@provedor.com.br">
            </div>
            <div class="form-group col-md-2">
                <label for="email">Telefone</label>
                <input formControlName="tel" type="tel" class="form-control" id="tel" placeholder=" 11 1234-4678">
            </div>
        </fieldset>
        <fieldset formGroupName="clientAddress">
            <legend>endereço do Cliente</legend>
            <div class="form-group col-md-6">
                <label for="strett">Rua</label>
                <input formControlName="street" type="text" class="form-control" id="street" placeholder="Rua">
            </div>
            <div class="form-group col-md-1">
                <label for="number">Número</label>
                <input formControlName="number" type="number" class="form-control" id="number" placeholder="0">
            </div>
            <div class="form-group col-md-3">
                <label for="district">Bairro</label>
                <input formControlName="district" type="text" class="form-control" id="district" placeholder="Nome do bairro">
            </div>
            <div class="form-group col-md-3">
                <label for="city">Cidade</label>
                <input formControlName="city" type="text" class="form-control" id="city" placeholder="Insira a cidade">
            </div>
            <div class="form-group col-md-3">
                <label for="cep">CEP</label>
                <input formControlName="cep" type="text" class="form-control" id="cep" placeholder="Insira o cep">
            </div>
        </fieldset>
        <fieldset formGroupName="clientVehicle">
            <legend>dados do veiculo</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        <label for="fabricante">Fabricante</label>
                        <input list="manufacturer" id="manufacturer" class="form-control" formControlName="manufacturer">
                        <datalist id="manufactures">
                            <option value="Volkswagem">
                                <option value="Fiat">
                                    <option value="Chevrolet">
                                        <option value="Hiunday">
                                            <option value="Honda">
                        </datalist>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="modelo">Modelo</label>
                        <input list="model" class="form-control" formControlName="model">
                        <datalist id="model">
                            <option value="Volkswagem">
                                <option value="Fiat">
                                    <option value="Chevrolet">
                                        <option value="Hiunday">
                                            <option value="Honda">
                        </datalist>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="yearManufacturer">Ano de fabricação</label>
                        <input formControlName="yearOfManufacturer" type="number" class="form-control" id="yearOfManufacturer" placeholder="99/00">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="km">Kilometragem</label>
                        <input formControlName="km" type="number" class="form-control" id="km" placeholder="0 km">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="plate">Placa</label>
                        <input formControlName="plate" type="text" class="form-control" id="plate" placeholder="XXX-XXXX">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>serviços</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-10">
                        <label for="description">Descrição</label>
                        <input required maxlength="100" type="text" #description class="form-control" id="description" placeholder="descreva o serviço que será feito">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="price">Valor R$</label>
                        <input pattern="/d" required min="0" type="number" #price class="form-control" id="price" placeholder="R$ 0.00">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="addTasks(description.value, price.value)" class="btn btn-default pull-right btnAdd">Adicionar</button>
                </div>
            </div>
            <table *ngIf="isShowTableTasks()" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of form.controls.clientTasks.value, let i = index">
                        <td class="orcamento-table-td">{{ task.description }}</td>
                        <td>{{ task.price | currencybr }}</td>
                        <td>
                            <button (click)="deleteTask(i)" type="button" class="btn btn-danger pull-right btnDelete">excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>peças e acessórios</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-1">
                        <label for="quantidade">quantidade</label>
                        <input min="0" #qtd type="number" class="form-control" id="quantidade" placeholder="0">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="descricao">Descrição</label>
                        <input #productDescription type="text" class="form-control" id="descricao" placeholder="descreva o serviço que será feito">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="priceUnit">Valor unitário R$</label>
                        <input #priceUnit type="text" class="form-control" id="priceUnit" placeholder="0">
                    </div>
                    <!-- <div class="form-group col-md-2">
                        <label for="priceTotal">Valor R$</label>
                        <input #priceTotal type="text" class="form-control" id="priceTotal" placeholder="0">
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="addProduct(qtd.value, productDescription.value, priceUnit.value)" class="btn btn-default pull-right btnAdd">Adicionar</button>
                </div>
            </div>
            <table *ngIf="isShowTableProducts()" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>quantidade</th>
                        <th>descrição</th>
                        <th>valor unitário</th>
                        <th>valor total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of form.controls.products.value, let indexProducts = index">
                        <td class="orcamento-table-td">{{ product.quantity }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.priceUnit | currencybr }}</td>
                        <td>{{ product.quantity * product.priceUnit | currencybr }}</td>
                        <td>
                            <button (click)="deleteProduct(indexProducts)" type="button" class="btn btn-danger pull-right btnDelete">excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>informações gerais</legend>
            <div class="row">
                <div class="col-md-12">
                    <textarea formControlName="info" id="info" class="form-control" name="informacoes" rows="3"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-default btn-primary btnPrint" type="submit" ><span class="glyphicon glyphicon-print left"></span>Visualizar</button>
                    <!-- <button class="btn btn-default btn-success btnSave" type="submit"><span class="glyphicon glyphicon-print"></span> salvar</button> -->
                </div>
            </div>
        </div>
    </form>
</div>