$size-checkbox: 15px;

.orcamento-print{
    &-title{
        font-size: 1.8rem
    }
    &-info{
        font-size: 1rem;
    }
}

.impressao-background{
  background: #fff;
}

.print-checkbox{
  width: $size-checkbox;
  height: $size-checkbox
}

@media only print and (max-width: 640px) {
 
        span,p{
          font-size: 10pt
        }
        div[class|="row"]{
                  padding:0.2% 0;
                }
        .print-title{
          font-size: 2rem
        }
        th{
          text-transform: uppercase;
        }
        .print-background-title{
          padding: 2px 0 !important;
          background-color:rgba(0,0,0,0.1) !important;
          -webkit-print-color-adjust: exact;
        }
        .print-signature{
          margin-top: 25px
        }
      
      }