/* You can add global styles to this file, and also import other style files */

body{
    overflow-x: hidden;
}

.gi-2x{font-size: 2rem;}
.gi-3x{font-size: 3rem;}
.gi-4x{font-size: 4rem;}
.gi-5x{font-size: 5rem;}